
<FilesMatch "\.(hs|hi|o)$">
  order allow,deny
  deny from all
</FilesMatch>

<Files clear_cached.sh>
  order allow,deny
  deny from all
</Files>

<Files generate_preview>
  SetHandler cgi-script
</Files>

AddType text/plain .toplay

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ generate_preview?req=$1 [T=application/x-httpd-cgi,QSA,L]
